.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.post {
    background: #e6e6e6;
    width: 80%;
    padding: 15px;
    margin: 20px;
    align: auto;
}

.post.ng-enter {
  transition:1s ease all;
  opacity:0;
  transform: translateX(100%);
}

.post.ng-enter.ng-enter-active {
  opacity:1;
  transition:1s ease all;
  transform: translateX(0);
}

.post.ng-leave {
  transition:1s ease all;
  opacity:1;
  transform: translateX(0);
}

.post.ng-leave.ng-leave-active {
  opacity:0;
  transform: translateX(100%);
}

.author {
    text-align: right;
}

.upvote {
    color: green;
}

.downvote {
    color: red;
}

img {
    width: 200px;
    length: 250px;
}
